pandas>=2.0.0
numpy>=1.26.0
polars>=1.6.0
polars-u64-idx>=1.0.0
tqdm>=4.65.0
pyarrow>=14.0.1
zstandard>=0.21.0
questdb>=0.1.0
python-dateutil>=2.8.0

seaborn>=0.13.0
matplotlib>=3.8.0
requests>=2.31.0

holoviews>=1.17.0
datashader>=0.15.0
hvplot>=0.10.0
panel>=0.15.0
jupyter_bokeh>=4.0.0
pyppeteer>=2.0.0